#*
#
#!*.cu
#!CMakeLists.txt
#!.gitignore
#!*.h
#!./UPPAALXMLParser/**
#!./UppaalModelSamples/**
#!./common/**
#!./engine/**
#!*.xml
#!*.cpp

*.exe
*.exp
*.lib
build
cmake-build-debug
*.idea
idea
automata_parser/xml_files/LargeModels/*
!automata_parser/xml_files/LargeModels/.gitkeep
